<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        label {
            display: block;
            margin: 15px;
            padding: 5px;
        }
    </style>

</head>
<body>
    <div>
        <form action="method" method="post">
            <label>
                Your Name:
                <input type="text" name="Name">
            </label>
            <label>
                Dojo Loction:
                <select name="Location">
                    <option value="San Jose">San Jose</option>
                    <option value="San Jose">Africa</option>
                    <option value="Yo Mamas House">Yo Mama's House</option>
                </select>
            </label>
            <label>
                Favorite Language:
                <select name="Language">
                    <option value="C#">C#</option>
                    <option value="Python">Python</option>
                    <option value="Ruby">Ruby</option>
                </select>
            </label>
            <label>
                <p>Comment:</p> 
                <textarea name="Comment"></textarea>
            </label>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>